<div class="form-group">
  <%= form_tag(:action => 'logowanie') do %>
  <table class="table table-striped">
  
  <center>
   <h1> Panel logowania </h1>
    </center>

    <br> </br>
  
    <tr>
      <th><%= label_tag(:user, "Użytkownik: ") %></th>
      <td><%= text_field_tag(:user) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:password, "Hasło: ") %></th>
      <td><%= password_field_tag(:password) %></td>
    </tr>
    <tr>
      <th>&nbsp;</th>
      <td><%= submit_tag("Zaloguj", :class => 'btn btn-primary') %></td>
    </tr>
  </table>
  <% end %>
</div>

