<div class="hero-unit">
<h1>Uzytkownicy</h1>

<%= link_to("Dodaj nowego użytkownika", {:action => 'nowy'}, :class => 'btn btn-mini btn-primary')%>

  <p style="text-align: right;">Ilość uzytkowników: <%= @user.size %></p>

  <table class="table table-striped">
	<tr class="info">
		<th>Login</th>
		<th>Imię i Nazwisko</th>
		<th>email</th>
		<th>akcja</th>
	</tr>
<% @user.each do |user| %>	
	<tr>
		<td><%= user.user %></td>
		<td><%= user.firstName + " " + user.lastName %></td>
		<td><%= mail_to(user.email) %></td>
		<td  class="actions">
			<%= link_to("Edycja", {:action => 'edycja', :id => user.id}, :class => 'btn btn-xs btn-primary') %>			
			<%= link_to("Usuń",  {:action => 'usun', :id => user.id}, :class => 'btn btn-xs btn-danger') %>			
		</td>
	</tr>
<% end %>

</table>
</div>