<div class="hero-unit">
<h1>Podgląd Produktu </h1>

<table class="table table-striped">

<tr>
<th> Nazwa </th>
<td> <%= @produkt.name %> </td>
</tr>

<tr>
<th> Kategoria </th>
<td> <%= @produkt.category_id %> </td>
</tr>

<tr>
<th> Opis </th>
<td> <%= @produkt.description %> </td>
</tr>

<tr>
<th> Cena </th>
<td> <%= @produkt.price %> </td>
</tr>

  <tr>
    <th>Zdjecie</th>
    <td><%= image_tag(@produkt.picture) %></td>
  </tr>

<tr>
<th> Utworzono </th>
<td> <%= @produkt.created_at%> </td>
</tr>

<tr>
<th> Aktualizacja </th>
<td> <%= @produkt.updated_at %> </td>
</tr>
</table>


<div style="text-align: center;">
  <%= link_to("Powrót", {:action => 'index'},:class => 'btn btn-primary')%>
</div>
</div>





